body {
    background-color: #07252d !important;
    color: #fff;
}


.kategoriLabel a {
    display: block;
    position: absolute;
    border-top-right-radius: 1.1em;
    border-bottom-right-radius: 1.1em;
    left: -80%;
}

.kategoriLabel {
    z-index: 1;
}

.card-title {
    font-size: 2rem;
}

.card.gerak {
    overflow: hidden;
    color: black;
    min-height: 450px;
    color: #fff;
    box-shadow: 0 0 0px 4px white !important;
    border-radius: 0 !important;
    background: #2b3b52 !important;
}

@media (min-width:1200px) {
    .card-title {
        font-size: 1.3rem;
    }
}

@media (min-width:768px) {
    .card-title {
        font-size: 1.2rem;
    }
}

/* loading */
#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
