body {
    background-color: #07252d !important;
    color: #fff;
}


.kategoriLabel a {
    display: block;
    position: absolute;
    border-top-right-radius: 1.1em;
    border-bottom-right-radius: 1.1em;
    left: -80%;
}

.card.gerak {
    overflow: hidden;
    color: black;
}
