* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* font-family: OpenSans-Regular; */
    background-color: #07252d;
    color: #fff;
}

.container-content {
    display: none;
    opacity: 0;
}

.container-logo {
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    height: 7vh;
    top: 43vh;
    width: -webkit-fill-available -moz-available;
}

.intro {
    text-align: center;
    position: fixed;
}

.intro-button {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 50%);
}

.intro-button #start {
    background: none;
    font-size: 15px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    width: 125px;
    height: 40px;
    font-weight: bold;
    display: none;
    cursor: pointer;
}

/* grid */
.container-content {
    display: grid;

}
